@import "../../../styles/varibles";
.login-nav {
  > li {
    display: inline-block;
    > a, small {
      line-height: 30px;
      padding: 0 10px;
      font-size: $font-sm;
    }
  }
  > a:last-child {
    padding-left: 10px;
    border-left: $border;
  }
  > a:hover {
    color: $primary-color;
  }
}