@charset "utf-8";

$primary-color: #c8132d;
$bg-color: #fafafa;
$title-color: #424242;
$item-active-bg-color: #f4f4f4;
$white: #fff;

$font-xxl: 20px;
$font-lg: 16px;
$font-sm: 14px;

$border-color: #ddd;
$border: 1px solid $border-color;
$border-radius: 5px;

$body-min-width: 1187px;