@import "../../../styles/varibles";
.app-header {
  border-top: 3px solid;
  border-bottom: 1px solid $border-color;
  height: 84px;
  min-width: $body-min-width;

  .brand-logo-wrapper {
    display: inline-block;
    margin-top: 5px;
    padding: 0;
    height: auto;
    img {
      height: 70px;
    }
  }
  .login-nav-wrapper {
    float: right;
  }
}